* {
  font-family: arial, sans-serif;
}

ul {
  list-style-type:none;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  vertical-align: baseline;
  line-height: 31px;
  vertical-align: middle;
}

li:first-child, li:nth-child(2){
  float: left
}

li {
  display: inline;
  padding-left:15px;
  font-size: 14px;
  float:right;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.topright {
    display: inline-block;
}

.logo {
  padding-top:120px;
  margin:auto;
  width:300px;
}

.bar{
  width: 50%;
  margin: auto;
  position: relative;
  box-shadow: 12px 4px 10px grey;
}

.buttons {
  text-align: center;
  padding-top: 10px;
}

.button {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  text-align: center;
  padding: 10px;
}
